/* src/index.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F7F9FB;
  color: #0A2540;
}

main {
  padding-top: 60px;
}

h1 {
  color: #0A2540;
}

h3 {
  color: #82CFFD;
}
